<div>
    <p><h4>User Permissions Management System <i style="color:#c00">(This page is a static display page)</i></h4></p>
    <p><b>Profile</b>：This is back-end management system of the upms platform。</p><br/>
    <p><h4> Features：</h4></p>
    <p><b>General function</b>：user management;role management;authorities;source management.</p>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>Time Line</legend>
    </fieldset>
    <ul class="layui-timeline">
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis"></i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title">12月1日</h3>
                <p>
                    User Permissions Management System [version 1.0]。
                    <br>first upms<i class="layui-icon"></i>
                </p>
            </div>
        </li>
    </ul>
</div>