<form id="userRole-form" lay-filter="userRole-form" class="layui-form model-form">
    <input id="roleIds" type="hidden" value="${roleIds}">
    <div class="layui-form-item">
        <label class="layui-form-label">User Id</label>
        <div class="layui-input-block">
            <input name="userId" type="text" class="layui-input" readonly="readonly" autocomplete="off"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">User Name</label>
        <div class="layui-input-block">
            <input name="userName"  type="text" class="layui-input" readonly="readonly" autocomplete="off"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">Roles</label>
        <div class="layui-input-block">
            <select name="roleId" xm-select="roleId" lay-verify="required">
                <% for(entry in roleMap) { %>
                <optgroup label="${entry.key}">
                    <% for(SysRoleResp in entry.value) { %>
                    <option value="${SysRoleResp.roleId}">${SysRoleResp.roleName}</option>
                    <% } %>
                </optgroup>
                <% } %>
            </select>
        </div>
    </div>
    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">Cancel</button>
        <button class="layui-btn" lay-filter="userRole-form-submit" lay-submit>Submit</button>
    </div>
</form>

<script>
    layui.use(['layer', 'admin', 'form', 'formSelects'], function () {
        var layer = layui.layer;
        var admin = layui.admin;
        var form = layui.form;
        var formSelects = layui.formSelects;
        form.render('select');
        var user = admin.getTempData('t_user');
        form.val('userRole-form', user);
        formSelects.value('roleId',JSON.parse($('#roleIds').val()));

        // 表单提交事件
        form.on('submit(userRole-form-submit)', function (data) {
            layer.load(2);
            $.post('/system/user/userRoleUpdate', data.field, function (data) {
                layer.closeAll('loading');
                if (data.code == 200) {
                    layer.msg(data.msg, {icon: 1});
                    admin.finishPopupCenter();
                } else {
                    layer.msg(data.code + ":" + data.msg, {icon: 2});
                }
            });
            return false;
        });
    });
</script>