<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" href="data:image/ico;base64,aWNv">
<link rel="stylesheet" href="${ctxPath }/assets/libs/layui/css/layui.css" media="all"/>
<link rel="stylesheet" href="${ctxPath }/assets/libs/zTree/css/zTreeStyle/zTreeStyle.css"/>
<link rel="stylesheet" href="${ctxPath }/module/formSelects/formSelects-v4.css" media="all"/>
<link rel="stylesheet" href="${ctxPath }/assets/css/admin.css"/>
<link rel="stylesheet" href="${ctxPath }/assets/css/theme.css"/>