<div class="layui-card-header">
    <h2 class="header-title">update password</h2>
</div>
<div class="layui-card-body" style="padding: 30px;">
    <form class="layui-form" id="form-psw">
        <div class="layui-form-item">
            <input type="password" name="oldPsw" lay-verify="required" class="layui-input"
                   placeholder="please input old password" lay-verType="tips" autocomplete="off">
        </div>
        <div class="layui-form-item">
            <input type="password" name="newPsw" lay-verify="required|psw" class="layui-input"
                   placeholder="please input new password" lay-verType="tips" autocomplete="off">
        </div>
        <div class="layui-form-item">
            <input type="password" name="rePsw" lay-verify="required|repsw" class="layui-input"
                   placeholder="input new password again" lay-verType="tips" autocomplete="off">
        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="submit-psw">submit</button>
        </div>
    </form>
</div>

<script>
    layui.use(['form', 'admin', 'layer'], function () {
        var form = layui.form;
        var admin = layui.admin;
        var layer = layui.layer;

        // 监听提交
        form.on('submit(submit-psw)', function (data) {
            layer.load(2);
            $.post('system/user/updatePsw', data.field, function (data) {
                if (data.code == 200) {
                    layer.closeAll('loading');
                    admin.closePopupRight();
                    layer.msg(data.msg, {icon: 1, time: 1000}, function () {
                        location.replace('logout');
                    });
                } else {
                    layer.closeAll('loading');
                    layer.msg(data.code + ":" + data.msg, {icon: 2});
                }
            });
            return false;
        });

        // 添加表单验证方法
        form.verify({
            psw: [/^[\S]{5,12}$/, 'Passwords must be 5 to 12 characters and no spaces should appear'],
            repsw: function (t) {
                if (t !== $('#form-psw input[name=newPsw]').val()) {
                    return 'Two input password must be consistent';
                }
            }
        });
    });
</script>