####################################################
##Config file for control.sh
####################################################

##program directory,default is current directory
APP_DIR=

##app name
APP_NAME=mfc-vms-ota-server-0.1.0-SNAPSHOT.jar

##app config file
APP_CONF=
##APP_CONF=../conf/application.properties

##jvm options
JAVA_OPTS="-Xmx256m"